body{
    font-family: Didot-italic, Georgia;
    font-weight: 100;
    color: #444;
    background-color: #FEFFF8;
    margin: 0;
    padding: 0 200px 0 0;
}

#app {
    padding-right: 14rem;
}

* { box-sizing: border-box; }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.contextmenu {
    display: inline-block;
    position: fixed;
    margin: 0;
    right: 20px;
    padding: 4px;
    background-color: white;
    border: 1px solid #444;
    z-index: 100;
    opacity: 0.95;
}

.contextmenu li {
    list-style-type: none;
    width: 9em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px;
    cursor: pointer;
}

.contextmenu li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.contextmenu li:hover {
    background-color: #e1e1e1;
}

.maincanvas {
    z-index: -10;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.node {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin-left: 100px;
    z-index: 50;
    cursor: move;
    -webkit-animation: fadein 0.2s ease-out;
}

.node .canvas {
    opacity: 0.8;
    display: block;
    width: 200px;
    height: 140px;
    border: #222 solid 1px;
    border-radius: 5px;
}

.node h2{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 5px;
}

.input {
    position: absolute;
    width: 100px;
    margin-top: 10px;
    margin-left: -110px;
    text-align: right;
}

.input:nth-child(3) {
    margin-top: 30px;
}

.input:nth-child(4) {
    margin-top: 50px;
}

.input:nth-child(5) {
    margin-top: 70px;
}

.input:nth-child(6) {
    margin-top: 90px;
}

.input:nth-child(7) {
    margin-top: 110px;
}

.input:after {
    margin-top: -0.8em;
    margin-left: 107px;
}
.io{
    text-transform: lowercase;
    cursor: crosshair;
}

.io:after {
    content: "";
    position: absolute;
    display: block;
    background-color: #444;
    width: 7px;
    height: 7px;
    border-radius: 5px;
}

.io:hover {
    text-decoration: underline;
}

.io .value{
    opacity: 0.1;
    position: absolute;
    margin-left: 1.4em;
    transition: all 0.3s ease-out;
    z-index: 200;
}

.node:hover .value {
    opacity: 0.9;
}

.output {
    position: absolute;
    margin-top: 110px;
    margin-left: 210px;
}

.output:after {
    margin-left: -14px;
    margin-top: -0.8em;
}

.node .canvas {background-color: #fff;}
.OscillatorNode .canvas {background-color: #FBCBCB;}
.BiquadFilterNode .canvas {background-color: #8EFFE0;}
.AudioDestinationNode .canvas {background-color: #E6F0FF;}
.GainNode .canvas {background-color: #F9FBCB;}
.MidiNode .canvas {background-color: #FBCBEF;}
.ADSRNode .canvas {background-color: #DBFBCB;}
